.container{
    padding-top: 70px;
}

.formulaire{
    /*disposition*/
    padding: 50px;

    /*style*/
    border-radius: 15px;
    background-color: #D9D4E3;

    /*texte*/
    color: #1A0A39;
}

.btn-co{
    color: white; 
    font-size: 15px;
    font-weight: 150;
    color: #1A0A39;
}

.btn-co:hover{
    color: white; 
    font-size: 15px;
    font-weight: 150;
    background-color: #1A0A39;
}

#ve{
    color: white; 
    font-size: 50px;
    font-weight: 200;
}

.co{
    font-size: 30px;
    color: #1A0A39;
}

