.depte{
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.img-dept{
    height: 85%;
    border-radius: 10%;
}

.mat{
    height: 270px;
    padding: 10%;
    opacity: 0.9;
    background-color: #D9D4E3;
    border-radius: 10px;
}


.menu{
    color:#1A0A39;
}

.titreens{
    padding-top:5%;
    font-size: 20px;
    color:#D9D4E3;
    font-weight: 400;
}