.img-rec{
    height: 300px;
}

.labo{
    font-size: 50px;
    color:#D9D4E3;
    font-weight: 400;
}

.rec{
    display: flex;
    align-items: center;
}

.cherch{
    text-align: center;
    display: flex;
    justify-content: space-around;
}