.titre{
    padding-top:5%;
    font-size: 20px;
    color:#D9D4E3;
    font-weight: 400;
}

.rec{
    height: 300px;
}

.rec:hover{
    height: 310px;
}

.dept p{
    text-align: center;
    font-size: 20px;
    color:#D9D4E3;
    font-weight: 400;
}